body{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.orange-color{
    color:orange;
   
}
.formate{
    margin-left: 2%;
    
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    margin-top: 20%;
   

}
.contain{
    display: flex;
    width: 100%;
}
.contain img{
       width: 80%;
       height: 90%;
       padding-left: 20% ;
      
}
.height{
    height: 70%;
}
.margin{
    margin-top:  5%;
}
.pinky{
    max-width: 80%;
        max-height: 90%;
        padding-right: 10%;
    padding-top: 2%;
}
.align{
    padding-right: 10%;
}
.background{
   background-image: url(images/shapes/7.png);
   background-repeat: no-repeat;
   width: 100%;
   height:700px;
}
.align{
    text-align: center;
}

.partition{
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;  
     
}
.partition img{
    max-width: 1000px;
    max-height: 300px;
    padding-left: 2%;
    border-radius: 10px;
}
.subscriber{
    
    padding-left: 80px;
    padding-right: 50px;
    
}
.color{
    color: rgb(182, 177, 170);
    padding-top: 10px;
}
.background-color{
    text-align: center;
    background-color: black;
}
.background-color p{
    color: cornsilk;
    padding-bottom: 5px;
}

.box{
    border: 3px solid rgb(247, 236, 217);
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 5%;
    background-color: rgb(245, 233, 210);
    display: flex;
    box-shadow: 5px 5px 5px 5px gainsboro;
    border-radius: 10px;
}
.down{
    padding-top: 5%;
}
